<!DOCTYPE HTML>
<html>
<head>  
<script>
window.onload = function () {
	
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
    zoomEnabled:true,	
	title:{
		text:"NanoQuake Election Buckets"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Number of Active Elections"
	},
	data: [{
		type: "bar",
		name: "Buckets",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: 
         {{ bucket_data|safe }}
		
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 800px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
